.section {
  padding-top: clamp(80px, calc(160vw / 7.68), 200px);
  margin-bottom: 60px; //temporary
}

.header {
  display: flex;
  align-items: flex-start;
  column-gap: 45px;
  row-gap: clamp(12px, calc(16vw / 7.68), 16px);
  margin-bottom: clamp(32px, calc(48vw / 7.68), 64px);
  flex-wrap: wrap;
  width: 100%;

  h2 {
    width: 578px;
  }

  @media (max-width: 1260px) {
    max-width: 530px;
  }
}

.container {
  border-bottom: var(--sectionBorder);
  border-top: var(--sectionBorder);

  @media (max-width: 959px) {
    border-bottom: none;
    border-top: none;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;

  @media (max-width: 959px) {
    grid-template-columns: 1fr;
    max-width: none;
    margin: 0;
    width: 100%;
  }
}

.item {
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: auto;
  }

  @media (max-width: 959px) {
    display: grid;
    grid-template-columns: 1fr clamp(280px, calc(371vw / 7.68), 371px) clamp(32px, calc(80vw / 7.68), 80px);
    column-gap: 0;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }

    &::after {
      display: block;
      content: '';
      height: 100%;
      border-bottom: var(--sectionBorder);
      border-top: var(--sectionBorder);
    }
  }

  @media (max-width: 699px) {
    grid-template-columns: 1fr;
    width: 100%;

    &::after {
      display: none;
    }

    img {
      max-width: 328px;
      margin: 0 auto;
    }

    border-bottom: var(--sectionBorder);
    border-top: var(--sectionBorder);
  }
}

.content {
  padding: 20px clamp(12px, calc(12vw / 7.68), 28px);
  padding-bottom: 36px;
  border-left: var(--sectionBorder);
  border-right: var(--sectionBorder);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 55px;
  @media (max-width: 959px) {
    border-top: var(--sectionBorder);
    border-bottom: var(--sectionBorder);
    border-left: none;
    border-right: none;
    padding-left: clamp(44px, calc(92vw / 7.68), 92px);
    padding-right: 36px;
  }

  @media (max-width: 699px) {
    padding: 20px 12px;
    gap: 80px;
    border-bottom: none;
    border-top: 0;
    padding-bottom: 44px;
    max-width: 328px;
    margin: 0 auto;
  }
}
