.list {
  display: flex;
  flex-direction: column;
  row-gap: clamp(28px, calc(36vw / 7.68), 36px);

  details {
    padding-bottom: 16px;
    border: 1px solid transparent;
    border-bottom-color: var(--primary-600);
    transition: border-color 0.2s;

    &:has(summary:hover) {
      border-bottom-color: var(--secondary-500);
    }

    &[data-opened='true'] {
      & header > div {
        & > svg:first-child {
          transform: translateY(0);
        }
        & > svg:last-child {
          transform: rotate(180deg) translateY(0);
        }
      }
    }
  }

  @media (max-width: 1023px) {
    max-width: 800px;
    margin: 0 auto;
  }
}

.summary {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 8px;

  @media (max-width: 539px) {
    flex-direction: column;
  }

  div {
    overflow: hidden;
    width: 25px;
    height: 24px;
    & > svg:first-child {
      transform: translateY(-100%);
    }
    & > svg:last-child {
      transform: rotate(180deg) translateY(100%);
    }
  }

  video {
    width: 300px;
    aspect-ratio: 300/80;
    object-fit: cover;

    @media (max-width: 539px) {
      width: 100%;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;

  svg {
    transition: transform 0.3s;
  }
}

.content {
  overflow: hidden;
  & > p {
    margin-bottom: 28px;
    padding: 0 48px 0 36px;

    @media (max-width: 539px) {
      padding: 0 0 16px;
    }
  }

  & > div {
    margin-bottom: 4px;
  }
}

.form {
  position: relative;
  width: calc(100% - 2px);
  padding: clamp(16px, calc(28vw / 7.68), 28px);
  background: radial-gradient(38.84% 100% at 50% 100%, rgba(112, 123, 135, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    var(--primary-900, #000);
  margin: 0 auto 1px;

  &::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background-color: var(--primary-800, #101010);
    background-image: radial-gradient(circle at bottom left, rgba(30, 114, 160, 0.8) 0%, rgba(30, 114, 160, 0) 20%),
      radial-gradient(circle at top right, rgba(30, 114, 160, 0.8) 0%, rgba(30, 114, 160, 0) 20%);
    z-index: -1;
  }

  h4 {
    margin-bottom: 12px;
    color: var(--primary-300, #a7b4bc);
  }

  & > p {
    margin-bottom: 12px;
  }

  label {
    margin-bottom: clamp(28px, calc(32vw / 7.68), 32px);
  }

  & > div:last-child {
    margin-bottom: clamp(28px, calc(32vw / 7.68), 32px);
  }

  @media (max-width: 539px) {
    button {
      width: 100%;
    }
  }

  @media (max-width: 369px) {
    h4 {
      text-align: center;
    }
  }
}
