.section {
  padding: clamp(80px, calc(128vw / 7.68), 160px) 0 clamp(48px, calc(64vw / 7.68), 80px);
  border-bottom: var(--sectionBorder);
  position: relative;

  & > div {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 32px;

    @media (max-width: 1023px) {
      grid-template-columns: 1fr;

      .content,
      .images {
        width: 100%;
        max-width: 608px;
        margin: 0 auto;
      }
    }
  }

  > svg:last-child {
    position: absolute;
    top: -1200px;
    right: -1240px;
    transform: scale(0.6) rotate(30deg);
    z-index: -50;
  }
}

.content {
  header {
    max-width: clamp(328px, calc(530vw / 7.68), 587px);

    .paragraph {
      margin-bottom: clamp(20px, calc(28vw / 7.68), 28px);
    }

    h1,
    h2 {
      margin-bottom: clamp(12px, calc(16vw / 7.68), 16px);
    }
  }

  ul {
    margin-bottom: clamp(64px, calc(80vw / 7.68), 80px);
  }

  li {
    display: flex;
    align-items: center;
    padding: 8px 0;
    gap: 12px;
    color: var(--primary-300, #a7b4bc);
  }
}

.images {
  display: flex;
  align-items: flex-start;
  gap: clamp(16px, calc(24vw / 7.68), 32px);
  display: grid;
  grid-template-columns: max-content 1fr;

  img {
    display: block;
  }

  & > img:first-of-type {
    width: 175px;
  }
  & > img:nth-of-type(2) {
    width: 100%;
    max-width: clamp(360px, calc(360vw / 7.68), 380px);
  }

  @media (max-width: 1159px) and (min-width: 1024px), (max-width: 479px) {
    grid-template-columns: 1fr;
  }
}
