.section {
  padding: clamp(64px, calc(80vw / 7.68), 120px) 0;
  display: grid;
  grid-template-columns: 1fr clamp(300px, calc(300vw / 7.68), 483px);
  column-gap: 38px;
  row-gap: 48px;
  align-items: start;

  > div > header {
    max-width: clamp(328px, calc(530vw / 7.68), 587px);
    margin-bottom: clamp(32px, calc(64vw / 7.68), 80px);
    h1,
    h2 {
      margin-bottom: clamp(12px, calc(16vw / 7.68), 16px);
    }
  }
  @media (max-width: 1023px) {
    grid-template-columns: 1fr;

    .list {
      max-width: 800px;
    }

    .form {
      max-width: 529px;
      margin: 0 auto 0 0;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, calc(36vw / 7.68), 36px);
  details {
    border-bottom: 1px solid var(--primary-600, #434e5b);
    transition: border-color 0.2s;

    &:has(summary:hover) {
      border-bottom-color: var(--secondary-500);
    }

    &:has(summary:focus-visible) {
      outline: 1px solid var(--primary-300);
      outline-offset: 5px;
    }
  }

  summary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding-bottom: 16px;
    &:focus-visible {
      outline: none;
    }

    & > h3,
    h2 {
      font-size: clamp(calc(14rem / 16), calc(16vw / 7.68), calc(16rem / 16));
    }
  }

  .content {
    overflow: hidden;

    .paragraph {
      padding: 0 36px 16px;
    }
  }
}

.form {
  width: 100%;

  > label:first-of-type {
    margin-bottom: 12px;
  }
}
