// ------------- Global Variables -------------------

:root {
  --primary-200: #c9d1d7;
  --primary-300: #a7b4bc;
  --primary-400: #707b87;
  --primary-600: #434e5b;
  --primary-700: #262c33;
  --primary-800: #101010;
  --primary-900: #000000;

  --secondary-100: #c3d5e2;
  --secondary-300: #69a5c6;
  --secondary-500: #1e87c1;
  --secondary-700: #1e72a0;

  --accent-100: #9ea9b0;
  --accent-200: #3c454f;

  --error-100: #ff8d83;
  --error-900: #1e100f;

  --success-100: #91f6ae;
  --success-900: #0f1a12;

  --sectionBorder: 1px solid var(--primary-700);

  --easing: cubic-bezier(0.5, 1, 0.89, 1);

  --pageMargin: clamp(16px, calc(32vw / 7.68), 40px);
  @media (max-width: 899px) and (min-width: 600px) {
    --pageMargin: clamp(40px, calc(80vw / 7.68), 80px);
  }
}

// ------------- Global Reset -----------------------

canvas {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  height: auto;
}

canvas {
  touch-action: pan-y;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

::placeholder {
  color: inherit;
}

sup {
  font-size: 0.62em;
  vertical-align: top;
}
textarea {
  display: block;
}

input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  appearance: none;
  border: none;
  border-radius: 0;
}

ul,
li {
  list-style-type: none;
}
summary {
  cursor: pointer;
  list-style: none;
  &::marker,
  &::-webkit-details-marker {
    display: none;
  }
}

iframe {
  border: none;
  display: block;
}
video {
  display: block;
  max-width: 100%;
  height: auto;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

:focus {
  outline: none;
}
:focus-visible {
  outline: 1px solid var(--primary-300);
  outline-offset: 5px;
}

html,
body {
  overflow-x: clip;
}
html {
  scroll-behavior: smooth;
}

.max-width {
  max-width: 1206px;
  width: calc(100% - var(--pageMargin) * 2);
  height: 100%;
  margin: 0 auto;
}

body {
  overflow: clip;
  min-width: 320px;
  -webkit-tap-highlight-color: transparent;
  font-size: clamp(calc(14rem / 16), calc(16vw / 7.68), calc(16rem / 16));
  color: var(--secondary-100, #c3d5e2);
  line-height: 148%;
  letter-spacing: calc(0.32rem / 16);
  background-color: var(--primary-900, #000000);
  display: flex;
  flex-direction: column;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  overflow-wrap: anywhere;
  text-transform: uppercase;
  letter-spacing: calc(0.16rem / 16);
  font-weight: 400;
  font-size: calc(16rem / 16);
}

h1,
.h1,
h2,
.h2 {
  line-height: 120%;
  font-weight: 348;
  color: var(--primary-300, #a7b4bc);
  letter-spacing: calc(0.42rem / 16);
  font-size: clamp(calc(28rem / 16), calc(42vw / 7.68), calc(42rem / 16));
  max-width: clamp(530px, calc(530vw / 7.68), 587px);
}

.link {
  text-decoration: underline;
  transition: color 0.3s;
  display: inline-flex;
  gap: 8px;
  align-items: flex-start;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: var(--secondary-300, #69a5c6);

    &::after {
      transform: translate(1px, -1px);
    }
  }

  &:focus {
    color: var(--secondary-500, #1e87c1);
  }

  &:focus-visible {
    color: var(--secondary-200);
  }

  &[target='_blank'] {
    &::after {
      transition: transform 0.2s var(--easing);
      content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxNCIgZmlsbD0ibm9uZSI+PHBhdGggc3Ryb2tlPSIjQzNENUUyIiBzdHJva2UtbGluZWpvaW49ImJldmVsIiBkPSJNMTIgMiAxIDEzTTggMWg0djUiLz48L3N2Zz4=');
    }
  }
}

.orderedList,
.unorderedList {
  display: grid;
  gap: 8px;
}
.unorderedList {
  li {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px;
    svg {
      margin-top: clamp(2px, calc(4vw / 7.68), 4px);
    }
  }
}

.contact-box {
  position: relative;
  width: calc(100% - 2px);
  padding: clamp(16px, calc(28vw / 7.68), 28px) clamp(8px, calc(16vw / 7.68), 16px);
  background: radial-gradient(48.84% 100% at 50% 100%, rgba(112, 123, 135, 0.1) 0%, rgba(0, 0, 0, 0.2) 100%),
    var(--primary-900, #000);
  margin: 0 auto 1px;

  &::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background-color: var(--primary-800, #101010);
    background-image: radial-gradient(circle at bottom left, rgba(30, 114, 160, 0.8) 0%, rgba(30, 114, 160, 0) 20%),
      radial-gradient(circle at top right, rgba(30, 114, 160, 0.8) 0%, rgba(30, 114, 160, 0) 20%);
    z-index: -1;
  }

  > h4,
  h3,
  h2,
  p,
  button,
  label:last-of-type {
    margin: 0 clamp(8px, calc(12vw / 7.68), 12px);
  }

  h4,
  h3,
  h2 {
    margin-bottom: 12px;
  }

  & > p {
    margin-bottom: 12px;
  }

  & > label,
  label:last-of-type {
    margin-bottom: clamp(28px, calc(32vw / 7.68), 32px);
  }

  @media (max-width: 539px) {
    button {
      width: 100%;
    }
  }

  @media (max-width: 369px) {
    h4 {
      text-align: center;
    }
  }
}
