// ------------- Global Variables -------------------

:root {
  --primary-200: #c9d1d7;
  --primary-300: #a7b4bc;
  --primary-400: #707b87;
  --primary-600: #434e5b;
  --primary-700: #262c33;
  --primary-800: #101010;
  --primary-900: #000000;

  --secondary-100: #c3d5e2;
  --secondary-500: #1e87c1;

  --accent-100: #9ea9b0;
  --accent-200: #3c454f;

  --pageMargin: clamp(18px, calc(40vw / 7.68), 40px);
  @media (max-width: 899px) and (min-width: 600px) {
    --pageMargin: clamp(40px, calc(80vw / 7.68), 80px);
  }
}

// ------------- Global Reset -----------------------

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  height: auto;
}

canvas {
  touch-action: pan-y;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

::placeholder {
  color: inherit;
}

sup {
  font-size: 0.62em;
  vertical-align: top;
}
textarea {
  display: block;
}

input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  appearance: none;
  border: none;
  border-radius: 0;
}

ul,
li {
  list-style-type: none;
}
summary {
  cursor: pointer;
  list-style: none;
  &::marker,
  &::-webkit-details-marker {
    display: none;
  }
}

iframe {
  border: none;
  display: block;
}
video {
  display: block;
  max-width: 100%;
  height: auto;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

:focus {
  outline: none;
}
:focus-visible {
  // Styles to create
}

html,
body {
  overflow-x: clip;
}
html {
  scroll-behavior: smooth;
}

main,
.max-width {
  max-width: 1206px;
  width: calc(100% - var(--pageMargin) * 2);
  height: 100%;
}

main {
  margin: clamp(32px, calc(42vw / 7.68), 42px) auto 0;
}

body {
  overflow: clip;
  min-width: 320px;
  -webkit-tap-highlight-color: transparent;
  font-size: clamp(calc(14rem / 16), calc(16vw / 7.68), calc(16rem / 16));
  color: var(--secondary-100, #c3d5e2);
  line-height: 148%;
  letter-spacing: clamp(calc(0.28rem / 16), calc(0.32vw / 7.68), calc(0.32rem / 16));
  background-color: var(--primary-900, #000000);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  overflow-wrap: anywhere;
  color: var(--primary-300, #a7b4bc);
  text-transform: uppercase;
  letter-spacing: clamp(calc(0.14rem / 16), calc(0.16vw / 7.68), calc(0.16rem / 16));
}

h1,
.h1,
h2,
.h2 {
  line-height: 120%;
  font-weight: 348;

  letter-spacing: clamp(calc(0.28rem / 16), calc(0.42vw / 7.68), calc(0.42rem / 16));
  font-size: clamp(calc(28rem / 16), calc(42vw / 7.68), calc(42rem / 16));
}
