.state {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  background-color: rgba(#000000, 0.9);
  text-align: center;
  padding: clamp(16px, calc(28vw / 7.68), 32px);
  animation: fadeIn 0.3s var(--easing);
  h3 {
    font-size: clamp(18px, calc(22vw / 7.68), 22px);
  }

  button {
    margin-top: clamp(16px, calc(24vw / 7.68), 24px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
