.section {
  padding: clamp(48px, calc(64vw / 7.68), 80px) 0;
  position: relative;

  > div:first-child {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    justify-content: space-between;
    column-gap: 48px;
    row-gap: 64px;
  }

  > svg {
    position: absolute;
    top: -970px;
    right: -600px;
    z-index: -50;
  }

  img {
    width: clamp(371px, calc(371vw / 10), 483px);
  }

  .paragraph {
    margin-bottom: clamp(48px, calc(64vw / 7.68), 80px);
    max-width: 587px;
  }

  h1,
  h2 {
    margin-bottom: clamp(12px, calc(16vw / 7.68), 16px);
  }

  @media (max-width: 1023px) {
    > div:first-child {
      grid-template-columns: 1fr;
    }
    img {
      width: clamp(328px, calc(371vw / 7.68), 371px);
    }
  }
}
