.footer {
  padding: clamp(32px, calc(48vw / 7.68), 80px) 0 clamp(48px, calc(64vw / 7.68), 64px);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 16px;
}

.row {
  display: flex;
  align-items: center;
  gap: 24px;
}
