.input {
  width: 100%;
  display: inline-block;
  padding: 8px clamp(8px, calc(12vw / 7.68), 12px);
  transition: background-color 0.3s;
  max-width: 381px;

  &:focus-within:has(input:focus-visible),
  &:focus-within:has(textarea:focus-visible) {
    background-color: var(--primary-800, #101010);
  }

  &:focus-within,
  &[data-filled='true'] {
    .label {
      transform: translate(clamp(-8px, calc(-12vw / 7.68), -12px), 0);
      font-size: calc(12rem / 16);
    }
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: calc(0.12rem / 16);
    font-size: calc(12rem / 16);
    color: var(--primary-300, #a7b4bc);
    margin: 0 clamp(8px, 1.5625vw, 12px);
  }

  .label {
    transform: translate(8px, calc(100% + 8px));
    font-size: clamp(calc(14rem / 16), calc(16vw / 7.68), calc(16rem / 16));
    letter-spacing: calc(0.32rem / 16);
    cursor: text;
    transition:
      transform 0.2s var(--easing),
      font-size 0.2s,
      color 0.2s;
  }

  textarea {
    min-height: 102px;
    max-height: 200px;
    resize: none;
  }
  input,
  textarea {
    border-bottom: 1px solid var(--primary-600, #434e5b);
    padding: 8px 16px;
    font-size: calc(16rem / 16);
    width: 100%;
    transition:
      border-color 0.3s,
      background-color 0.3s;
    &:hover {
      border-color: var(--secondary-500, #1e87c1);
    }
    &:focus-visible {
      outline: none;
      border-color: var(--second-600, #434e5b);
    }
  }
  &[aria-invalid='true'] {
    &:focus-within {
      background-color: transparent;
    }

    .label {
      color: var(--error-100, #ff8d83);
    }

    &:focus-within,
    &[data-filled='true'] {
      .label {
        color: var(--second-200);
      }
    }

    input,
    textarea {
      border-color: var(--error-100, #ff8d83);
      background-color: var(--error-900, #1e100f);
      color: var(--error-100, #ff8d83);
    }
  }

  &[aria-disabled='true'] {
    &:focus-within {
      background-color: transparent;
    }

    input,
    textarea {
      border-color: var(--primary-700, #262c33);

      &:hover {
        border-color: var(--primary-700, #262c33);
      }

      &::placeholder {
        color: var(--primary-400, #707b87);
      }
    }
  }
}
