.container {
  position: relative;
  overflow: hidden;
  aspect-ratio: 9/16;
  width: 100%;
  &:focus-within {
    outline: 1px solid var(--primary-300);
    outline-offset: 5px;
  }

  &[data-loading='true'] {
    .open > img {
      transform: scale(1.05);
    }
  }

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    aspect-ratio: 9/16;

    iframe {
      width: 100%;
      height: 177.8%; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
      min-height: 100%;
      min-width: 56.25%; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20;
      pointer-events: none;
    }
  }

  .loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.05);
    z-index: 10;

    div {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      position: relative;
      animation:
        rotate 1s linear infinite,
        fadeIn 0.3s;
    }
    div::before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      inset: 0px;
      border-radius: 50%;
      border: 3px solid var(--primary-300);
      animation: prixClipFix 2s linear infinite;
    }

    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes prixClipFix {
      0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
      }
      25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
      }
      50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
      }
      75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
      }
      100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
      }
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

.open {
  position: relative;
  overflow: hidden;
  transform: transform 0.3s var(--easing);
  aspect-ratio: 9/16;
  width: 100%;

  & > div {
    position: absolute;
    bottom: 12px;
    right: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: soft-light;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    transition: background-color 0.2s;
    z-index: 50;

    &:hover {
      background-color: rgba(0, 0, 0, 0.9);
    }
  }

  & img {
    transition: transform 0.3s var(--easing);
    height: 100%;
    width: 100%;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.img {
  aspect-ratio: 9/16;
  width: 100%;
}
